{% extends "base_generic.html" %}

{% block content %}

<section class="register-section">
    <div class="container">
      <header class="register-header">
        <h2 class="text-center">Inicia sesion</h2>
      </header>
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
  
      {% endif %}
      <form action="" method="post">
        {% csrf_token %}
  
        <!-- {{ form.as_p }} -->
  
        
        <label for="{{ form.username.id_for_label }}">
          {{ form.username }} 
          <span class="input-placeholder">{{ form.username.name }}</span>
        </label>
  
        <label for="{{ form.password.id_for_label }}">
          {{ form.password }} 
          <span class="input-placeholder">{{ form.password.name }}</span>
        </label>
  
  
        <input type="submit" value="Sign up" class="signup-button auth__button" >
        <a href="{% url 'register' %}">Registrate</a>
      </form>

      
      
  
      {% if form.non_field_errors %}
      <ul class='form-errors'>
          {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    </div>
  </section>
  
{% endblock %}
